

.btn{
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 24px;
    width: max-content;
    height: max-content;
    transition: .5s;
    &_blue{
        background-color: var(--blue);
        color: #fff;
        &:hover{
            background-color:#fff;
            color: var(--blue);
        }
    }
    &_white{
        background-color:#fff;
        color: var(--blue);
        &:hover{
            background-color: var(--blue);
        color: #fff;
        }
    }
}
