* {
	margin: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body,
html {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-optical-sizing: auto;
	font-size: 20px;
	color: var(--lightBlue);
	background-color: #fff;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
	padding: 109px 0 44px 0;
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.container {
	max-width: 1560px;
	padding: 0 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 48px;
	color: var(--blue);
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	span {
		color: var(--lightBlue);
	}
}
h2 {
	font-size: 48px;
	color: var(--blue);
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	span {
		color: var(--lightBlue);
	}
}
h3 {
	font-size: 40px;
	color: var(--blue);
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	span {
		color: var(--lightBlue);
	}
}
h4 {
	font-size: 32px;
	color: var(--blue);
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	span {
		color: var(--lightBlue);
	}
}
a {
	text-decoration: none;
  color: var(--blue);
}
img{
	width: 100%;
}