<div class="callback">
	<div class="container">
		<div class="callback-wrapper">
			<div class="callback__info">
				<div class="callback__text">
					<h2 class="callback__title title">
                        Запишитесь на консультацию
                    </h2>
                    <p>Мы обеспечиваем высокий профессионализм при выполнении любой поставленной задачи.</p>
				</div>
                <div class="callback__list">
                    <div class="callback__list-title">
                        <p>Обеспечиваем:</p>
                    </div>
                    <ul>
                        <li>Высококачественную помощь</li>
                        <li>Полную конфиденциальность</li>
                        <li>Защита ваших прав</li>
                        <li>Правовую поддержку</li>
                    </ul>
                </div>
			</div>
			<div class="callback__form">
                <div class="callback__form-info">
                    <h3 class="callback__form-title title">
                        Мы поможем решить любую Вашу проблему
                    </h3>
                    <p>Заполните форму и мы перезвоним</p>
                </div>
                <div class="callback__form-inputs">
						<div class="input-container">
							<input
								type="text"
								name=""
								id=""
								class="input-custom input-custom_white"
								placeholder="Имя"
							/>
							<div class="btn-remove-text">
<svg
								width="14"
								height="14"
								viewBox="0 0 14 14"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M1 1L13 13M1 13L13 1"
									stroke="#E61A1A"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
							</div>
						</div>
						<div class="input-container">
							<input
								type="tel"
								name=""
								id=""
								class="input-custom input-custom_white"
								placeholder="Номер телефона"
							/>
							<div class="btn-remove-text">
<svg
								width="14"
								height="14"
								viewBox="0 0 14 14"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M1 1L13 13M1 13L13 1"
									stroke="#E61A1A"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
							</div>
						</div>
                        <div class="input-container">
                            <textarea class="textarea-custom textarea-custom_white"  name="" id="" placeholder="Суть вопроса (кратко):"></textarea> 
                        </div>
					</div>
                    <div class="btn-container">
                        <div class="callback__btn btn btn_blue">
                            Нужна помощь
                        </div>
                    </div>
                    <div class="callback__form-checkbocks">
						<div class="custom-checkbox-container">
							<input
								type="checkbox"
								name=""
								id="inp-2"
								class="custom-checkbox"
							/>
							<label for="inp-2"
								>Я соглашаюсь с политикой конфиденциальности в отношении
								обработки моих персональных данных.</label
							>
						</div>
					</div>
            </div>
		</div>
	</div>
</div>
