<div class="popup">
	<div data-id="modal-1" class="modal modal-problem">
		<div class="callback__form">
			<div class="callback__form-info">
				<h3 class="callback__form-title title">
					Мы поможем решить любую Вашу проблему
				</h3>
				<p>Заполните форму и мы перезвоним</p>
			</div>
			<div class="callback__form-inputs">
				<div class="input-container">
					<input
						type="text"
						name=""
						id=""
						class="input-custom input-custom_white"
						placeholder="Имя"
					/>
					<div class="btn-remove-text">
						<svg
							width="14"
							height="14"
							viewBox="0 0 14 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M1 1L13 13M1 13L13 1"
								stroke="#E61A1A"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
				</div>
				<div class="input-container">
					<input
						type="tel"
						name=""
						id=""
						class="input-custom input-custom_white"
						placeholder="Номер телефона"
					/>
					<div class="btn-remove-text">
						<svg
							width="14"
							height="14"
							viewBox="0 0 14 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M1 1L13 13M1 13L13 1"
								stroke="#E61A1A"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
				</div>
				<div class="input-container">
					<textarea
						class="textarea-custom textarea-custom_white"
						name=""
						id=""
						placeholder="Суть вопроса (кратко):"
					></textarea>
				</div>
			</div>
			<div class="btn-container">
				<div class="callback__btn btn btn_blue">Получить консультацию</div>
			</div>
			<div class="callback__form-checkbocks">
				<div class="custom-checkbox-container">
					<input type="checkbox" name="" id="inp-2" class="custom-checkbox" />
					<label for="inp-2"
						>Я соглашаюсь с политикой конфиденциальности в отношении обработки
						моих персональных данных.</label
					>
				</div>
			</div>
		</div>
		<div class="modal-close">
			<svg
				width="48"
				height="48"
				viewBox="0 0 48 48"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect width="48" height="48" rx="12" fill="#EFEFEF" />
				<path
					d="M16 16L32 32M16 32L32 16"
					stroke="#152A60"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</svg>
		</div>
	</div>
    <div data-id="modal-2" class="modal modal-servise">
        <div class="modal-servise-frame">
            <h2 class="modal-servise__title title">
                Обжалование решений государственных органов
            </h2>
            <ul class="modal-servise__list">
                <li>Обжалование отказа в государственной регистрации права собственности на землю.</li>
                <li>Обжалование (оспаривание) решений, действий (бездействия) органа государственной власти, органа местного самоуправления, иного органа, организации, наделенных отдельными государственными или иными публичными полномочиями, должностного лица, государственного или муниципального служащего</li>
                <li>Обжалование (оспаривание) ненормативных правовых актов, решений и действий (бездействия) государственных органов, органов местного самоуправления, иных органов, организаций, наделенных федеральным законом отдельными государственными или иными публичными полномочиями, должностных лиц в порядке
главы 24 АПК РФ.</li>
            </ul>
            <div class="btn-container">
                <div id="modal-1" class="btn btn-modal-servise btn_blue open-popup">
                    Решить мою проблему
                </div>
            </div>
        </div>
        <div class="modal-close">
			<svg
				width="48"
				height="48"
				viewBox="0 0 48 48"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect width="48" height="48" rx="12" fill="#EFEFEF" />
				<path
					d="M16 16L32 32M16 32L32 16"
					stroke="#152A60"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</svg>
		</div>
    </div>
    <div class="modal modal-error">
        <div class="modal-error-frame modal-frame">
            <div class="modal-frame__img">
            <svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L50 51M1 51L50 1" stroke="#152A60" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            </div>
            <p>Произошла ошибка, отправьте пожалуйста форму повторно
через 5 минут </p>
            <div class="btn-container">
                <div class="btn btn_blue modal-error-btn">
                    На главную
                </div>
            </div>
        </div>
        <div class="modal-close">
			<svg
				width="48"
				height="48"
				viewBox="0 0 48 48"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect width="48" height="48" rx="12" fill="#EFEFEF" />
				<path
					d="M16 16L32 32M16 32L32 16"
					stroke="#152A60"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</svg>
		</div>
    </div>
    <div class="modal modal-access">
        <div class="modal-access-frame modal-frame">
            <div class="modal-frame__img">
            <svg width="89" height="90" viewBox="0 0 89 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.5417 52.5L32.6029 63.1644C33.0332 63.4907 33.6449 63.4165 33.9846 62.9966L66.75 22.5" stroke="#152A60" stroke-width="2" stroke-linecap="round"/>
</svg>
            </div>
            <p>Форма успешно отправлена. В течение 5 минут с вами свяжется специалист </p>
            <div class="btn-container">
                <div class="btn btn_blue modal-error-btn">
                    На главную
                </div>
            </div>
        </div>
        <div class="modal-close">
			<svg
				width="48"
				height="48"
				viewBox="0 0 48 48"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect width="48" height="48" rx="12" fill="#EFEFEF" />
				<path
					d="M16 16L32 32M16 32L32 16"
					stroke="#152A60"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</svg>
		</div>
    </div>
</div>
