<div id="reviews" class="reviews">
	<div class="container">
		<div class="reviews__wrapper">
			<h2 class="reviews__title title">Клиенты о нас</h2>
			<div class="swiper reviews__slider">
				<div class="swiper rewiews-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="reviews__card">
								<div class="reviews__card-head">
									<div class="reviews__card-head-text">
										<p>Юрист: Сороко А. А.</p>
									</div>
									<a
										data-fancybox
										data-src="#ifame-1"
										class="reviews__card-head-svg"
									>
										<svg
											width="48"
											height="48"
											viewBox="0 0 48 48"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect width="48" height="48" rx="24" fill="white" />
											<path
												d="M19 19.5598C19.0001 19.2803 19.0821 19.0059 19.2373 18.7654C19.3924 18.5248 19.6151 18.327 19.8821 18.1925C20.1491 18.058 20.4505 17.9918 20.7549 18.0008C21.0593 18.0098 21.3554 18.0937 21.6124 18.2438L29.2127 22.6829C29.4539 22.8239 29.6526 23.0184 29.7902 23.2485C29.9278 23.4787 30 23.737 30 23.9995C30 24.262 29.9278 24.5203 29.7902 24.7504C29.6526 24.9806 29.4539 25.1751 29.2127 25.316L21.6124 29.7562C21.3553 29.9063 21.0591 29.9902 20.7546 29.9992C20.4501 30.0082 20.1486 29.9419 19.8816 29.8073C19.6146 29.6727 19.3919 29.4747 19.2368 29.234C19.0817 28.9933 18.9999 28.7188 19 28.4392V19.5598Z"
												fill="#152A60"
											/>
										</svg>
									</a>
								</div>
								<div class="reviews__card-body">
									<div class="reviews__card-data">
										<p>14 апреля</p>
										<p>Володин Влад Владленович</p>
									</div>
									<div class="reviews__card-info">
										<p>
											Дело о признании преимущественного права при наследовании
											земельного участка с домом
										</p>
									</div>
								</div>
								<iframe
									id="ifame-1"
									width="560"
									height="315"
									src="https://www.youtube.com/embed/H2GCkRF9eko?si=RXKKvTvdh6jNGcV6"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									referrerpolicy="strict-origin-when-cross-origin"
									allowfullscreen
								></iframe>
							</div>
							<img
								class="reviews-card-img"
								src="@img/index/reviews/adccfa86375ed98db65cbbbdfb4d87cf.png"
								alt=""
							/>
						</div>
						<div class="swiper-slide">
							<div class="reviews__card">
								<div class="reviews__card-head">
									<div class="reviews__card-head-text">
										<p>Юрист: Сороко А. А.</p>
									</div>
									<a
										data-fancybox
										data-src="#ifame-1"
										class="reviews__card-head-svg"
									>
										<svg
											width="48"
											height="48"
											viewBox="0 0 48 48"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect width="48" height="48" rx="24" fill="white" />
											<path
												d="M19 19.5598C19.0001 19.2803 19.0821 19.0059 19.2373 18.7654C19.3924 18.5248 19.6151 18.327 19.8821 18.1925C20.1491 18.058 20.4505 17.9918 20.7549 18.0008C21.0593 18.0098 21.3554 18.0937 21.6124 18.2438L29.2127 22.6829C29.4539 22.8239 29.6526 23.0184 29.7902 23.2485C29.9278 23.4787 30 23.737 30 23.9995C30 24.262 29.9278 24.5203 29.7902 24.7504C29.6526 24.9806 29.4539 25.1751 29.2127 25.316L21.6124 29.7562C21.3553 29.9063 21.0591 29.9902 20.7546 29.9992C20.4501 30.0082 20.1486 29.9419 19.8816 29.8073C19.6146 29.6727 19.3919 29.4747 19.2368 29.234C19.0817 28.9933 18.9999 28.7188 19 28.4392V19.5598Z"
												fill="#152A60"
											/>
										</svg>
									</a>
								</div>
								<div class="reviews__card-body">
									<div class="reviews__card-data">
										<p>14 апреля</p>
										<p>Володин Влад Владленович</p>
									</div>
									<div class="reviews__card-info">
										<p>
											Дело о признании преимущественного права при наследовании
											земельного участка с домом
										</p>
									</div>
								</div>
								<iframe
									id="ifame-1"
									width="560"
									height="315"
									src="https://www.youtube.com/embed/H2GCkRF9eko?si=RXKKvTvdh6jNGcV6"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									referrerpolicy="strict-origin-when-cross-origin"
									allowfullscreen
								></iframe>
							</div>
							<img
								class="reviews-card-img"
								src="@img/index/reviews/adccfa86375ed98db65cbbbdfb4d87cf.png"
								alt=""
							/>
						</div>
						<div class="swiper-slide">
							<div class="reviews__card">
								<div class="reviews__card-head">
									<div class="reviews__card-head-text">
										<p>Юрист: Сороко А. А.</p>
									</div>
									<a
										data-fancybox
										data-src="#ifame-1"
										class="reviews__card-head-svg"
									>
										<svg
											width="48"
											height="48"
											viewBox="0 0 48 48"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect width="48" height="48" rx="24" fill="white" />
											<path
												d="M19 19.5598C19.0001 19.2803 19.0821 19.0059 19.2373 18.7654C19.3924 18.5248 19.6151 18.327 19.8821 18.1925C20.1491 18.058 20.4505 17.9918 20.7549 18.0008C21.0593 18.0098 21.3554 18.0937 21.6124 18.2438L29.2127 22.6829C29.4539 22.8239 29.6526 23.0184 29.7902 23.2485C29.9278 23.4787 30 23.737 30 23.9995C30 24.262 29.9278 24.5203 29.7902 24.7504C29.6526 24.9806 29.4539 25.1751 29.2127 25.316L21.6124 29.7562C21.3553 29.9063 21.0591 29.9902 20.7546 29.9992C20.4501 30.0082 20.1486 29.9419 19.8816 29.8073C19.6146 29.6727 19.3919 29.4747 19.2368 29.234C19.0817 28.9933 18.9999 28.7188 19 28.4392V19.5598Z"
												fill="#152A60"
											/>
										</svg>
									</a>
								</div>
								<div class="reviews__card-body">
									<div class="reviews__card-data">
										<p>14 апреля</p>
										<p>Володин Влад Владленович</p>
									</div>
									<div class="reviews__card-info">
										<p>
											Дело о признании преимущественного права при наследовании
											земельного участка с домом
										</p>
									</div>
								</div>
								<iframe
									id="ifame-1"
									width="560"
									height="315"
									src="https://www.youtube.com/embed/H2GCkRF9eko?si=RXKKvTvdh6jNGcV6"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									referrerpolicy="strict-origin-when-cross-origin"
									allowfullscreen
								></iframe>
							</div>
							<img
								class="reviews-card-img"
								src="@img/index/reviews/adccfa86375ed98db65cbbbdfb4d87cf.png"
								alt=""
							/>
						</div>
						<div class="swiper-slide">
							<div class="reviews__card">
								<div class="reviews__card-head">
									<div class="reviews__card-head-text">
										<p>Юрист: Сороко А. А.</p>
									</div>
									<a
										data-fancybox
										data-src="#ifame-1"
										class="reviews__card-head-svg"
									>
										<svg
											width="48"
											height="48"
											viewBox="0 0 48 48"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect width="48" height="48" rx="24" fill="white" />
											<path
												d="M19 19.5598C19.0001 19.2803 19.0821 19.0059 19.2373 18.7654C19.3924 18.5248 19.6151 18.327 19.8821 18.1925C20.1491 18.058 20.4505 17.9918 20.7549 18.0008C21.0593 18.0098 21.3554 18.0937 21.6124 18.2438L29.2127 22.6829C29.4539 22.8239 29.6526 23.0184 29.7902 23.2485C29.9278 23.4787 30 23.737 30 23.9995C30 24.262 29.9278 24.5203 29.7902 24.7504C29.6526 24.9806 29.4539 25.1751 29.2127 25.316L21.6124 29.7562C21.3553 29.9063 21.0591 29.9902 20.7546 29.9992C20.4501 30.0082 20.1486 29.9419 19.8816 29.8073C19.6146 29.6727 19.3919 29.4747 19.2368 29.234C19.0817 28.9933 18.9999 28.7188 19 28.4392V19.5598Z"
												fill="#152A60"
											/>
										</svg>
									</a>
								</div>
								<div class="reviews__card-body">
									<div class="reviews__card-data">
										<p>14 апреля</p>
										<p>Володин Влад Владленович</p>
									</div>
									<div class="reviews__card-info">
										<p>
											Дело о признании преимущественного права при наследовании
											земельного участка с домом
										</p>
									</div>
								</div>
								<iframe
									id="ifame-1"
									width="560"
									height="315"
									src="https://www.youtube.com/embed/H2GCkRF9eko?si=RXKKvTvdh6jNGcV6"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									referrerpolicy="strict-origin-when-cross-origin"
									allowfullscreen
								></iframe>
							</div>
							<img
								class="reviews-card-img"
								src="@img/index/reviews/adccfa86375ed98db65cbbbdfb4d87cf.png"
								alt=""
							/>
						</div>
						<div class="swiper-slide">
							<div class="reviews__card">
								<div class="reviews__card-head">
									<div class="reviews__card-head-text">
										<p>Юрист: Сороко А. А.</p>
									</div>
									<a
										data-fancybox
										data-src="#ifame-1"
										class="reviews__card-head-svg"
									>
										<svg
											width="48"
											height="48"
											viewBox="0 0 48 48"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect width="48" height="48" rx="24" fill="white" />
											<path
												d="M19 19.5598C19.0001 19.2803 19.0821 19.0059 19.2373 18.7654C19.3924 18.5248 19.6151 18.327 19.8821 18.1925C20.1491 18.058 20.4505 17.9918 20.7549 18.0008C21.0593 18.0098 21.3554 18.0937 21.6124 18.2438L29.2127 22.6829C29.4539 22.8239 29.6526 23.0184 29.7902 23.2485C29.9278 23.4787 30 23.737 30 23.9995C30 24.262 29.9278 24.5203 29.7902 24.7504C29.6526 24.9806 29.4539 25.1751 29.2127 25.316L21.6124 29.7562C21.3553 29.9063 21.0591 29.9902 20.7546 29.9992C20.4501 30.0082 20.1486 29.9419 19.8816 29.8073C19.6146 29.6727 19.3919 29.4747 19.2368 29.234C19.0817 28.9933 18.9999 28.7188 19 28.4392V19.5598Z"
												fill="#152A60"
											/>
										</svg>
									</a>
								</div>
								<div class="reviews__card-body">
									<div class="reviews__card-data">
										<p>14 апреля</p>
										<p>Володин Влад Владленович</p>
									</div>
									<div class="reviews__card-info">
										<p>
											Дело о признании преимущественного права при наследовании
											земельного участка с домом
										</p>
									</div>
								</div>
								<iframe
									id="ifame-1"
									width="560"
									height="315"
									src="https://www.youtube.com/embed/H2GCkRF9eko?si=RXKKvTvdh6jNGcV6"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									referrerpolicy="strict-origin-when-cross-origin"
									allowfullscreen
								></iframe>
							</div>
							<img
								class="reviews-card-img"
								src="@img/index/reviews/adccfa86375ed98db65cbbbdfb4d87cf.png"
								alt=""
							/>
						</div>
						<div class="swiper-slide">
							<div class="reviews__card">
								<div class="reviews__card-head">
									<div class="reviews__card-head-text">
										<p>Юрист: Сороко А. А.</p>
									</div>
									<a
										data-fancybox
										data-src="#ifame-1"
										class="reviews__card-head-svg"
									>
										<svg
											width="48"
											height="48"
											viewBox="0 0 48 48"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect width="48" height="48" rx="24" fill="white" />
											<path
												d="M19 19.5598C19.0001 19.2803 19.0821 19.0059 19.2373 18.7654C19.3924 18.5248 19.6151 18.327 19.8821 18.1925C20.1491 18.058 20.4505 17.9918 20.7549 18.0008C21.0593 18.0098 21.3554 18.0937 21.6124 18.2438L29.2127 22.6829C29.4539 22.8239 29.6526 23.0184 29.7902 23.2485C29.9278 23.4787 30 23.737 30 23.9995C30 24.262 29.9278 24.5203 29.7902 24.7504C29.6526 24.9806 29.4539 25.1751 29.2127 25.316L21.6124 29.7562C21.3553 29.9063 21.0591 29.9902 20.7546 29.9992C20.4501 30.0082 20.1486 29.9419 19.8816 29.8073C19.6146 29.6727 19.3919 29.4747 19.2368 29.234C19.0817 28.9933 18.9999 28.7188 19 28.4392V19.5598Z"
												fill="#152A60"
											/>
										</svg>
									</a>
								</div>
								<div class="reviews__card-body">
									<div class="reviews__card-data">
										<p>14 апреля</p>
										<p>Володин Влад Владленович</p>
									</div>
									<div class="reviews__card-info">
										<p>
											Дело о признании преимущественного права при наследовании
											земельного участка с домом
										</p>
									</div>
								</div>
								<iframe
									id="ifame-1"
									width="560"
									height="315"
									src="https://www.youtube.com/embed/H2GCkRF9eko?si=RXKKvTvdh6jNGcV6"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									referrerpolicy="strict-origin-when-cross-origin"
									allowfullscreen
								></iframe>
							</div>
							<img
								class="reviews-card-img"
								src="@img/index/reviews/adccfa86375ed98db65cbbbdfb4d87cf.png"
								alt=""
							/>
						</div>
						<div class="swiper-slide">
							<div class="reviews__card">
								<div class="reviews__card-head">
									<div class="reviews__card-head-text">
										<p>Юрист: Сороко А. А.</p>
									</div>
									<a
										data-fancybox
										data-src="#ifame-1"
										class="reviews__card-head-svg"
									>
										<svg
											width="48"
											height="48"
											viewBox="0 0 48 48"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect width="48" height="48" rx="24" fill="white" />
											<path
												d="M19 19.5598C19.0001 19.2803 19.0821 19.0059 19.2373 18.7654C19.3924 18.5248 19.6151 18.327 19.8821 18.1925C20.1491 18.058 20.4505 17.9918 20.7549 18.0008C21.0593 18.0098 21.3554 18.0937 21.6124 18.2438L29.2127 22.6829C29.4539 22.8239 29.6526 23.0184 29.7902 23.2485C29.9278 23.4787 30 23.737 30 23.9995C30 24.262 29.9278 24.5203 29.7902 24.7504C29.6526 24.9806 29.4539 25.1751 29.2127 25.316L21.6124 29.7562C21.3553 29.9063 21.0591 29.9902 20.7546 29.9992C20.4501 30.0082 20.1486 29.9419 19.8816 29.8073C19.6146 29.6727 19.3919 29.4747 19.2368 29.234C19.0817 28.9933 18.9999 28.7188 19 28.4392V19.5598Z"
												fill="#152A60"
											/>
										</svg>
									</a>
								</div>
								<div class="reviews__card-body">
									<div class="reviews__card-data">
										<p>14 апреля</p>
										<p>Володин Влад Владленович</p>
									</div>
									<div class="reviews__card-info">
										<p>
											Дело о признании преимущественного права при наследовании
											земельного участка с домом
										</p>
									</div>
								</div>
								<iframe
									id="ifame-1"
									width="560"
									height="315"
									src="https://www.youtube.com/embed/H2GCkRF9eko?si=RXKKvTvdh6jNGcV6"
									title="YouTube video player"
									frameborder="0"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									referrerpolicy="strict-origin-when-cross-origin"
									allowfullscreen
								></iframe>
							</div>
							<img
								class="reviews-card-img"
								src="@img/index/reviews/adccfa86375ed98db65cbbbdfb4d87cf.png"
								alt=""
							/>
						</div>
					</div>
					<div class="navigation-container">
						<div class="reviews-btn reviews-btn-prev">
							<svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M10 19L3 12L10 5"
									stroke="white"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path
									d="M3 12H21"
									stroke="white"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</div>
						<div class="reviews-swiper-pagination swiper-pagination"></div>
						<div class="reviews-btn reviews-btn-next">
							<svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M14 19L21 12L14 5"
									stroke="white"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path
									d="M21 12H3"
									stroke="white"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
