<div class="road-map">
	<div class="container">
		<div class="road-map-wrapper">
			<div class="road-map__form-container">
				<div class="road-map__form">
					<p class="road-map__form-title title">
						Мы подготовим дорожную карту Вам уже сегодня
					</p>
					<p class="road-map__form-text">Заполните форму и мы перезвоним</p>
					<div class="road-map__form-inputs">
						<div class="input-container">
							<input
								type="text"
								name=""
								id=""
								class="input-custom"
								placeholder="Имя"
							/>
							<svg
								width="14"
								height="14"
								viewBox="0 0 14 14"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M1 1L13 13M1 13L13 1"
									stroke="#E61A1A"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</div>
						<div class="input-container">
							<input
								type="text"
								name=""
								id=""
								class="input-custom"
								placeholder="Номер телефона"
							/>
							<svg
								width="14"
								height="14"
								viewBox="0 0 14 14"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M1 1L13 13M1 13L13 1"
									stroke="#E61A1A"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</div>
					</div>
					<div class="btn-container">
						<div class="btn-form btn_white btn">Нужна помощь</div>
					</div>
					<div class="road-map__form-checkbocks">
						<div class="custom-checkbox-container">
							<input
								type="checkbox"
								name=""
								id="inp-1"
								class="custom-checkbox"
							/>
							<label for="inp-1"
								>Я соглашаюсь с политикой конфиденциальности в отношении
								обработки моих персональных данных.</label
							>
						</div>
					</div>
				</div>
				<div class="road-map__link">
					<a href="#" class="link">Посмотреть пример дорожной карты</a>
				</div>
			</div>
			<div class="road-map__img-container">
				<img src="@img/index/roudMap/Rectangle.png" alt="" />
				<div class="road-map__info">
					<p>
						"Дорожная карта" представляет собой детализированную пошаговую
						инструкцию (юридическое заключение), которая объясняет, как
						оптимально поступить в конкретной ситуации или как наиболее
						эффективно достичь цели Клиента. Этот вид консультации необходим в
						случаях, когда задача очень сложная и требует от юриста
						значительного времени для анализа конкретной ситуации Клиента и
						разработки индивидуального решения.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
