<div id="services" class="services">
	<div class="container">
		<div class="services__wrapper">
			<h2 class="services__title title">
				Услуги которые предоставляет наша компания
			</h2>
			<div class="swiper services-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="services__card">
							<p class="services__card-title">
								Обжалование решений государственных органов
							</p>
							<div class="services__card-btn btn btn_transparent">
								Подробнее
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="services__card">
							<p class="services__card-title">
								Обжалование решений государственных органов
							</p>
							<div class="services__card-btn btn btn_transparent">
								Подробнее
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="services__card">
							<p class="services__card-title">
								Обжалование решений государственных органов
							</p>
							<div class="services__card-btn btn btn_transparent">
								Подробнее
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="services__card">
							<p class="services__card-title">
								Обжалование решений государственных органов
							</p>
							<div class="services__card-btn btn btn_transparent">
								Подробнее
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="services__card">
							<p class="services__card-title">
								Обжалование решений государственных органов
							</p>
							<div class="services__card-btn btn btn_transparent">
								Подробнее
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="services__card">
							<p class="services__card-title">
								Обжалование решений государственных органов
							</p>
							<div class="services__card-btn btn btn_transparent">
								Подробнее
							</div>
						</div>
					</div>
				</div>
				<div class="navigation-container">
					<div class="reviews-btn reviews-btn-prev">
						<svg
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M10 19L3 12L10 5"
								stroke="white"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M3 12H21"
								stroke="white"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
					<div class="reviews-swiper-pagination swiper-pagination"></div>
					<div class="reviews-btn reviews-btn-next">
						<svg
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14 19L21 12L14 5"
								stroke="white"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M21 12H3"
								stroke="white"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
