.main-swiper {
    width: 100%;
    .swiper-slide {
        @media (max-width:1280px) {
            height: calc(100vh - 80px);

        }
}
}
.slide__info{
    max-width: 730px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 72px 0;
    gap: 20px;
    &-head{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    @media (max-width:1280px) {
        max-width: 100%;
        position: relative;
        z-index: 1;
        padding: 60px 40px 54px 40px;
        height: calc(100vh - 80px);
        .title{
            color: #fff;
            span{
                color: #fff;
            }
        }
        &-head{
            gap: 24px;
        }
    }
    @media (max-width:560px) {
        padding: 40px 20px 20px 20px;
    }
}
.main-slide{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.open-modal {
}
.slide {

&__boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media (max-width:1280px) {
        gap: 16px;
    }
    @media (max-width:560px) {
        display: flex;
        overflow-y: scroll;
        position: static;
        bottom: 48px;
        z-index: 10;
        &::-webkit-scrollbar{
            width: 0;
        }
    }
}

&__box {
    display: flex;
    gap: 20px;
    padding: 24px 16px;
    background-color: var(--grey);
    border-radius: 16px;
    span{
        content: ' ';
        height: 100% !important;
        width: 1px;
        background-color: var(--blue);
    }
    @media (max-width:560px) {
        min-width: 280px;
        position: relative;
        z-index: 6;
        padding: 12px 16px;
        height: max-content;

        .slide__box-img{
            height: max-content;
        }
        span{
            height: 47px !important;
        }
    }
}

&__box-img {
    @media (max-width:1280px) {
        svg{
            max-width: 48px;
            max-height: 48px;
        }
    }
}

&__box-info {
}

&__box-title {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 4px 0;
    color: var(--blue);
    @media (max-width:1280px) {
        font-size: 20px;
    }
}

&__box-text {
    color: var(--lightBlue);
}


}
.container.main-con{
    max-width: calc(100vw - (100vw - 1560px)/2 - 20px);
    width: 100%;
    padding: 0 0 0 40px;
    margin-left: calc((100vw - 1560px)/2);
    margin-right: 0;
    @media (max-width: 1600px) {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 0 40px;
    }
    @media (max-width:1280px) {
        padding: 0 0 0 0;
        height: calc(100vh - 80px);
    }
}
.main-swiper-pagination{
    max-width: 730px;
    bottom: 26px !important;
    top: auto;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 0;
    span{
        width: 50%;
        border-radius: 5px;
        height: 6px;
        background-color: var(--lightBlue);
    }
    .swiper-pagination-bullet-active{
        background-color: var(--blue);
    }
    @media (max-width: 1280px){
        z-index: 1;
        max-width: 100%;
        padding: 0 40px;
    }
    @media (max-width: 560px) {
        padding: 0 20px;
        bottom: 125px !important;
    }
}
.slide__img{
    position: relative;
    z-index: 1;
    @media (max-width: 1280px) {
        position: absolute;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        img{
            width: auto;
            height: 100%;
            margin: 0 0 0 -60px;
        }
    }
}